fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary==2.9.12
pydantic
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
python-multipart
python-dotenv
pandas
openpyxl
Jinja2
httpx
